---
layout: articles
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner: 'default'
---
<p>
  I am a Doctor of Physical Therapy and postdoctoral scholar in the <a href="https://www.drew-lab.org" target="_none">Drew Lab</a> in the Department of Engineering Science and Mechanics at PSU. I am fundamentally interested in the cellular and computational mechanisms connecting movement and the nervous system. As a clinician-scientist, my aim is to translate these findings to clinical populations, particularly those marginalized by conventional medical and biopsychosocial diagnostic frameworks. </p>

<p> 

{{ content }}
