---
layout: articles
heading: 'Your awesome heading'
subheading: 'Your awesome subheading'
banner: 'default'
---
<p> I am a physical therapist and postdoctoral scholar in the <a href="https://www.drew-lab.org" target="_blank">Drew Lab @ PSU</a> housed within the Department of Engineering Science and Mechanics. I study the cellular principles governing bodily movement. Movement is the language of behavior and is the result of cellular energy transformations in neural tissue and skeletal muscle. By unveiling the cellular principles describing how and why we move, we will gain a deeper understanding of how behavior is related to energy budgets of these individual cells. By understanding how movement effects neural function, we will better understand how movement-based therapies work and which cellular targets we might act on to improve clinical outcomes in rehabilitation. I merge principles from neurobiology, mechanics, motor neuroscience, exercise physiology and physical rehabilitation to study this in both humans and mice.</p>

<p> 

{{ content }}
